

  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
</div>
<div class="modal-body">
  <%= form_with scope: :discount, url: discounts_path, local: true do |form| %>
  <%= render 'error' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <p>
      <%= form.label :discount %><br>
      <%= form.text_field :discount %>
    </p>

    <p>
      <%= form.submit  "create discount", class: "btn btn-primary" %>
    </p>
  <% end %>
</div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary">Save</button>
</div>
